{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi Chile</title>
    {% block estilo %}

    {% endblock %}
    <link rel="website icon" type="png" href="{% static 'Icons/Home/audilogo.png'%}">
</head>

<body>

    <header><!--COMIENZO HEADER-->
        <nav>

            <a href="{% url 'home' %}" id="home" style="display: flex; align-items: center; color: rgb(255, 255, 255); text-decoration: none; text-transform: uppercase;">
                <img src="{% static 'Icons/Home/home.png'%}" alt="home"
                    style="width: 15px; height: 15px; margin-right: 5px;">
                <!-- Añadido margen a la derecha -->
                <span class="text_home">Home</span>
            </a>
            <a href="{% url 'modelos' %}" id="modelos" style="color: rgb(255, 255, 255); text-decoration: none;text-transform: uppercase;">
                <img src="{% static 'Icons/Home/auto.png'%}" alt="home"
                    style="width: 15px; height: 15px; margin-right: 5px;">
                <span class="text_modelos">Modelos</span>
            </a>
            <a href="{% url 'accesorios' %}" id="accesorios" style="color: rgb(255, 255, 255); text-decoration: none;text-transform: uppercase;">
                <img src="{% static 'Icons/Home/llanta.png'%}" alt="home"
                    style="width: 15px; height: 15px; margin-right: 5px;">
                <!-- Añadido margen a la derecha -->
                <span class="text_accesorios">Accesorios</span>
            </a>
            <div id="logotipo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'Icons/logotipo.png'%}" style="width: 100px; height: 30px;">
                </a>
            </div>
            <a href="{% url 'acerca_de' %}" id="acercade" style="color: rgb(255, 255, 255); text-decoration: none;text-transform: uppercase;">
                <img src="{% static 'Icons/Home/nosotros.png'%}" alt="acerca de"
                    style="width: 15px; height: 15px; margin-right: 5px;">
                <!-- Añadido margen a la derecha -->
                <span class="text_acerca">Acerca de nosotros</span>
            </a>

            <a href="{% url 'Carrito' %}" id="carrito" style="color: rgb(255, 255, 255); text-decoration: none;text-transform: uppercase;">
                <img src="{% static 'Icons/Home/carrito.png'%}" alt="carrito"
                    style="width: 15px; height: 15px; margin-right: 5px;">
                <span class="text_carrito">Carrito</span>
            </a>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <div class="login-container">
                        <a href="{% url 'adminMain' %}" class="nombre-usuario">{{ user.username }}</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-logout">Cerrar sesión</button>
                        </form>
                    </div>
                {% else %}
                    <div class="login-container">
                        <h1 class="nombre-usuario">{{ user.username }}</h1>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-logout">Cerrar sesión</button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
            <a href="{% url 'login' %}" id="iniciarsesion" style="color: rgb(255, 255, 255); text-decoration: none;text-transform: uppercase;">
                <img src="{% static 'Icons/Home/sesion.png'%}" alt="iniciarsesion"
                    style="width: 15px; height: 15px;margin-right: 5px;">
                <span class="text_sesion">Iniciar sesión</span></a>
            {% endif %}
        </nav>
    </header><!--TÉRMINO HEADER-->

    {% block content %}

    {% endblock %}

    <footer>
        <div id="final2"><!--COMIENZO DIV FINAL 2-->

            <ul style="list-style-type: none;" >

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Home</a></li>
                <li><a href="#" style="text-transform:capitalize; color: rgb(255, 255, 255); text-decoration: none;">Inicio</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Modelos</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Accesorios</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Acerca de</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Carrito</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Mi cuenta</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Novedades</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Más vistos</a></li>


            </ul>



            <ul style="list-style-type: none;" >

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Modelos</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Etron Q11</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Etron Q12</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sport R10</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sport R12</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sport R15</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sedán A1</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sedán A2</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sedán A5</a></li>


            </ul>
            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Accesorios</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Interior</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Exterior</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Ruedas</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Neumáticos</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Seguridad</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Protección</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Pintura</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Diseño</a></li>


            </ul>


            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Acerca de</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Historia</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Innovación</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Tecnología</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sostenibilidad</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Noticias</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Carreras</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Eventos</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Equipo</a></li>


            </ul>

            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Mi carrito</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Ver carrito</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Check Out</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Historial</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Devoluciones</a></li>
                <li><a href="#" style="text-transform: capitalize;color: rgb(255, 255, 255); text-decoration: none;">Envío</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Descuentos</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Pago</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Boletas</a></li>


            </ul>

            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Cuenta</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Sesión</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Registrarse</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Perfil</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Direcciones</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Suscripiciones</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Contraseña</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Asistencia</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Ayuda</a></li>


            </ul>


            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase; color: rgb(255, 255, 255); text-decoration: none;">Concesionarios</a></li>
                <li><a href="#" style="text-transform:capitalize; color: rgb(255, 255, 255); text-decoration: none;">Santiago</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Valparaiso</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Concepción</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Antofagasta</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Arica</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Iquique</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Chillán</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Temuco</a></li>

            </ul>


            <ul style="list-style-type: none;">

                <li><a href="#" style="text-transform: uppercase;  color: rgb(255, 255, 255); text-decoration: none;">Contacto</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Call center</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">+56976998743</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">+5628905673</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Redes sociales</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Instagram</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Facebook</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Twitter</a></li>
                <li><a href="#" style="text-transform: capitalize; color: rgb(255, 255, 255); text-decoration: none;">Linkedin</a></li>


            </ul>




        </div><!--TÉRMINO DIV FINAL 2-->


        <div id="texto_ultimo">
            <h6>Audi Santiago, Avenida José Alcalde 10237 - Lo Barnechea, Santiago <br> +56 (2) 2837-1640 - +569
                64973750</h6>
                <img src="{% static '/Icons/Home/instablanco.jpg'%}" alt="instagram" id="instagram">
                <img src="{% static '/Icons/Home/whatsapblanco.jpg'%}" alt="whatsap" id="whatsap">   
        </div>

    </footer>
</body>

</html>